* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

main section{
    font-family: 'calibri';
    
}

.usnuevo{
    width: 400px;
    background: rgb(34, 34, 114);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #5B2C6F;
    position: absolute;
    margin-left: 100px;
}

.usnuevo h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-sesion{
    width: 400px;
    background: rgb(34, 34, 114);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #5B2C6F;
    position: relative;
    margin-right: 100px;
}

.form-sesion h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}

.controls{
    width: 100%;
    background: rgb(21, 66, 151);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid#3a2dec;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.buttons{
    width: 100%;
    background-color: blue;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.buttons:hover{
    background: rgba(0, 0, 0, 0.3);
}

.form-sesion p{
    height: 40px;
    text-align: center;
}

.form-sesion a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.form-sesion a:hover{
    text-decoration: underline;
}